<div class="my-3 p-3 bg-white rounded shadow-sm" id="user_<%= user.id %>">
  <div class="row align-items-center text-center">
    <div class="col-md-4">
      <div class="rounded-circle">
        <%= image_tag user.profile_image, size: 80, class: "rounded-circle" %>
      </div>
    </div>
    <div class="col-md-4">
      <h5><%= user.full_name %></h5>
      <%= user.posts.count %><br> postagens
    </div>
    <div class="col-md-4 follow">
      <%= render 'follow', user: user %>
    </div>
  </div>
</div>
