<div class="custom-box">
  <%= link_to "#collapseExample", class: "btn btn-outline-secondary w-100 border-0", role: 'button', data: {toggle: 'collapse'} do %>
    Explorar <i class="las la-search"></i>
  <% end %>
  <div class="collapse" id="collapseExample">
    <div class="my-3">
      <h4>Categorias</h4>
      <% Category.all.each do |category| %>
      <% class_name = params[:category_id] == category.id.to_s ? "btn-primary" : "btn-light"  %>
      <%= link_to posts_path(category_id: category), class: "btn btn-lg #{class_name}" do %>
      <%= category.plural_name_with_icon %>
      <% end %>
      <% end %>
    </div>

    <div class="my-3">
      <h4>Tags</h4>
      <div>
        <% ActsAsTaggableOn::Tag.all.each do |tag| %>
        <% new_tags = params[:tags] ? { tags: [*params[:tags], tag.name] } : { tags: [tag.name] } %>
        <%= link_to tag.name.titleize, posts_path(request.query_parameters.merge(new_tags)), class: "btn btn-light d-inline-block" %>
        <% end %>
      </div>
    </div>

    <div class="my-3">
      <h4>Postagens</h4>
      <%= link_to "De quem eu sigo", posts_path(request.query_parameters.except(:all)), class: "btn btn #{params[:all] ? "btn-light" : "btn-primary"}" %>
      <%= link_to "De todos", posts_path(request.query_parameters.merge(all: true)), class: "btn btn #{params[:all] ? "btn-primary" : "btn-light"}" %>
    </div>
  </div>

</div>
