<nav class="navbar navbar-light bg-light custom-box">
  <a class="navbar-brand" href="#">Filtrar</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01" style="">
    <ul class="navbar-nav mr-auto">

      <h3>Categorias <span><%= Category.all.count %></span></h3>
      <% Category.all.each do |category| %>
      <% class_name = @filtered_category == category ? "btn-primary" : "btn-light"  %>
      <%= link_to posts_path(category_id: category), class: "btn btn-lg #{class_name}" do %>
      <%= category.plural_name_with_icon %>
      <% end %>
      <% end %>

      <h3>Tags <span><%= Tag.all.count %></span></h3>
      <div class="">
        <% Tag.all.each do |tag| %>
        <% new_tags = params[:tags] ? { tags: [*params[:tags], tag.name] } : { tags: [tag.name] } %>
        <%= link_to tag.name.titleize, posts_path(request.query_parameters.merge(new_tags)), class: "btn btn-light d-inline-block" %>
        <% end %>
      </div>

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
