<!-- Modal -->
<% post = Post.new %>

<div class="modal fade" id="new-post-modal" tabindex="-1" role="dialog" aria-labelledby="new-post-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-post-modalLabel">+ Nova Recomendação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for post do |f| %>

      <div class="modal-body">

        <div class="form-group required">
          <%= f.label :title, "Título" %>
          <%= f.text_field :title, class:"form-control", placeholder:"O que você gostou?", required: true %>
        </div>

        <div class="row row row-cols-1 row-cols-md-2">
          <div class="col">
            <div class="form-group">
              <%= f.label :category_id, "Categoria" %>
              <%= f.select :category_id, categories_for_select, { include_blank:"" }, { class:'form-control' } %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.label :tag_ids, "Tags" %>
              <%= f.text_field :tag_list, value: f.object.tag_list.join(","), data:{role:"tagsinput"} %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :url, "Link" %>
          <%= f.text_field :url, class:"form-control", placeholder:"" %>
        </div>

        <div class="form-group">
          <%= f.label :body, "Descrição" %>
          <%= f.text_area :body, class:"form-control", placeholder:"" %>
        </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="cancel-modal">Cancelar</button>
        <%= f.submit "Publicar", class:"btn btn-primary" %>
      </div>

      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('#cancel-modal').on('click', function () {
      $(this).closest('form').trigger('reset');
  })
  $("#post_tag_list").tagsinput()
});
</script>
