<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/froala/design-blocks@master/dist/css/froala_blocks.min.css">


<header class="text-center my-4">
  <%= link_to "💬 Recomendo 👌", root_path, class:"py-5 h2 text-decoration-none font-poppins" %>
</header>

<div class="container py-5">

  <div class="row align-items-center py-lg-3">
    <div class="col-12 col-sm-6">
      <svg id="a01bbba8-bc2d-4e66-a086-829e28c11719" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 719.76946 687.25" ><title>home_cinema</title><path d="M908.88473,288.962V250.375h-6v38.587a8,8,0,1,0,6,0Z" transform="translate(-240.11527 -106.375)" fill="#e6e6e6"/><path d="M922.88473,678.375h-41v-498h-16v498H824.88467a36.99993,36.99993,0,0,0-36.99994,36.99994v.00006h172v-.00006A36.99994,36.99994,0,0,0,922.88473,678.375Z" transform="translate(-240.11527 -106.375)" fill="#e6e6e6"/><path d="M787.96774,254.375h171.834L949.29391,123.03467A18.19786,18.19786,0,0,0,931.248,106.375H816.52145a18.19786,18.19786,0,0,0-18.0459,16.65967Z" transform="translate(-240.11527 -106.375)" fill="#ff6056"/><path d="M301.21292,563.91061H825.69163V510.36435c0-144.59875-117.6406-262.23935-262.23935-262.23935S301.21292,365.7656,301.21292,510.36435Z" transform="translate(-240.11527 -106.375)" fill="#3f3d56"/><path d="M301.21292,563.91061H825.69163V510.36435c0-144.59875-117.6406-262.23935-262.23935-262.23935S301.21292,365.7656,301.21292,510.36435Z" transform="translate(-240.11527 -106.375)" opacity="0.2"/><path d="M369.18754,582.44585H772.8198A81.09742,81.09742,0,0,0,691.826,502.813H450.18135A81.09742,81.09742,0,0,0,369.18754,582.44585Z" transform="translate(-240.11527 -106.375)" fill="#ff6056"/><circle cx="81.00587" cy="386.82709" r="81.00587" fill="#3f3d56"/><circle cx="572.53304" cy="386.82709" r="81.00587" fill="#3f3d56"/><path d="M751.55066,534.39152V564.5971H377.41336V534.39152H293.66153V681.614a34.011,34.011,0,0,0,34.011,34.011H801.29139a34.011,34.011,0,0,0,34.01111-34.011V534.39152Z" transform="translate(-240.11527 -106.375)" fill="#3f3d56"/><circle cx="81.00587" cy="386.82709" r="16.47577" opacity="0.2"/><circle cx="572.53304" cy="386.82709" r="16.47577" opacity="0.2"/><path d="M593.29318,238.87148s1.61972,30.77465,12.95775,37.25352,0,50.21127,0,50.21127L552.80022,327.956l-3.23944-51.831s6.47888-21.05634,3.23944-30.77465S593.29318,238.87148,593.29318,238.87148Z" transform="translate(-240.11527 -106.375)" fill="#ffb8b8"/><polygon points="413.107 560.102 393.671 582.778 424.446 611.933 440.643 579.539 413.107 560.102" fill="#ffb8b8"/><polygon points="275.431 560.102 294.868 582.778 264.093 611.933 247.896 579.539 275.431 560.102" fill="#ffb8b8"/><path d="M642.69459,451.86444s116.61972,38.87324,110.14084,76.12676-56.69014,168.4507-56.69014,168.4507-27.53521,0-48.59155-29.15493l14.57747-32.39436s-6.47888-17.81691,4.85915-21.05634,17.8169-59.92958,17.8169-59.92958-82.60563-6.47887-100.42253-37.25352l-32.39437-77.74648Z" transform="translate(-240.11527 -106.375)" fill="#2f2e41"/><path d="M526.07487,451.86444S409.45515,490.73768,415.934,527.9912s56.69014,168.4507,56.69014,168.4507,27.53522,0,48.59155-29.15493l-14.57746-32.39436s6.47887-17.81691-4.85916-21.05634-17.8169-59.92958-17.8169-59.92958,82.60564-6.47887,100.42254-37.25352l32.39436-77.74648Z" transform="translate(-240.11527 -106.375)" fill="#2f2e41"/><path d="M658.89177,706.16021s16.19718-14.57746,17.8169-3.23944-1.61972,56.69015-1.61972,56.69015,16.19719,34.01408-8.09859,34.01408-35.6338-25.91549-32.39436-51.831-11.338-35.6338-11.338-35.6338-17.8169-35.6338,0-38.87324,24.29577,4.85916,24.29577,4.85916S641.07487,701.30106,658.89177,706.16021Z" transform="translate(-240.11527 -106.375)" fill="#2f2e41"/><path d="M509.87769,706.16021s-16.19719-14.57746-17.81691-3.23944,1.61972,56.69015,1.61972,56.69015S477.48332,793.625,501.77909,793.625s35.63381-25.91549,32.39437-51.831,11.338-35.6338,11.338-35.6338,17.8169-35.6338,0-38.87324-24.29578,4.85916-24.29578,4.85916S527.69459,701.30106,509.87769,706.16021Z" transform="translate(-240.11527 -106.375)" fill="#2f2e41"/><circle cx="328.07227" cy="113.86972" r="37.25352" fill="#ffb8b8"/><path d="M573.85656,284.22359l-22.67606-17.8169-55.07042,25.91549-1.61972,147.39437s-34.01408,16.19718-24.29577,37.25352c0,0,29.15493,6.47887,42.11267,19.43662s85.84507-4.85915,116.61972-14.57746,38.87324-21.05634,38.87324-21.05634l-30.77465-43.7324,17.8169-111.76056L599.7782,268.25887Z" transform="translate(-240.11527 -106.375)" fill="#e6e6e6"/><path d="M613.47841,194.88912a32.72327,32.72327,0,0,1-2.22094-3.4469c-1.15512-2.81332.66946-6.12871-1.03543-8.75574-1.7404-2.68175-6.15869-3.24731-9.16482-5.06919-4.63088-2.80657-5.47263-8.31373-9.81145-11.40651-3.12615-2.22838-7.58418-2.82906-11.76168-2.70194s-8.29915.88239-12.47838.96527a37.62165,37.62165,0,0,1-16.3771-3.34911l3.08305,6.03082a30.7761,30.7761,0,0,1-9.678-3.92278c-1.3636,1.69136,1.1312,4.25855-.41564,5.845a4.96343,4.96343,0,0,1-2.18434,1.01281,52.24553,52.24553,0,0,0-16.53785,8.06827,8.31019,8.31019,0,0,0-2.78289,2.93788c-.8036,1.7809-.09107,3.74785-.15191,5.64139-.11054,3.44069-2.73736,6.441-4.60127,9.54054s-2.87034,7.118-.10591,9.74867a25.13472,25.13472,0,0,1,1.9317,1.70333c2.76984,3.26725-2.1332,8.052.23,11.51909,1.02607,1.50533,3.1292,2.26716,4.95713,3.15648a19.80713,19.80713,0,0,1,8.4742,7.55282L531.42613,219.531a1.72023,1.72023,0,0,1,.2829-1.519c.68812-.70137,2.12943-.42179,3.07917-.88624,1.04507-.51108,1.124-1.68341,1.08247-2.66528l-.31984-7.57123c-.14382-3.40457-.1836-3.85668,2.32377-6.60478,1.75174-1.91993,4.50741-3.07833,7.27533-3.93024,6.3253-1.94679,13.12847-2.62018,19.85287-3.27824,7.809-.7642,16.60205-4.55325,22.66652-.53025,4.96433,3.2932,6.61488,8.70626,9.00682,13.507,2.15,4.315,7.668,17.02,12.26163,10.1427C611.82261,211.87644,616.235,199.698,613.47841,194.88912Z" transform="translate(-240.11527 -106.375)" fill="#2f2e41"/><path d="M574.583,209.438a.57962.57962,0,0,0-.5791.57861v15.59717a.57962.57962,0,0,0,.5791.57861h26.84961a.57962.57962,0,0,0,.5791-.57861V210.0166a.57962.57962,0,0,0-.5791-.57861Z" transform="translate(-240.11527 -106.375)" fill="#3f3d56"/><path d="M577.58346,210.81348a1.07985,1.07985,0,0,0-1.07861,1.07861v11.84619a1.07985,1.07985,0,0,0,1.07861,1.07861h20.84863a1.07985,1.07985,0,0,0,1.07861-1.07861V211.89209a1.07985,1.07985,0,0,0-1.07861-1.07861Z" transform="translate(-240.11527 -106.375)" fill="#ff6584"/><rect x="320.78354" y="108.2007" width="13.98592" height="3.23944" fill="#3f3d56"/><path d="M536.562,209.438a.57952.57952,0,0,0-.57861.57861v15.59717a.57952.57952,0,0,0,.57861.57861h26.8501a.57953.57953,0,0,0,.57862-.57861V210.0166a.57953.57953,0,0,0-.57862-.57861Z" transform="translate(-240.11527 -106.375)" fill="#3f3d56"/><path d="M539.563,210.81348a1.08,1.08,0,0,0-1.0791,1.07861v11.84619a1.08,1.08,0,0,0,1.0791,1.07861H560.4111a1.08,1.08,0,0,0,1.0791-1.07861V211.89209a1.08,1.08,0,0,0-1.0791-1.07861Z" transform="translate(-240.11527 -106.375)" fill="#ff6056"/><path d="M281.76944,297.75h93a14,14,0,0,1,14,14v0a0,0,0,0,1,0,0h-121a0,0,0,0,1,0,0v0A14,14,0,0,1,281.76944,297.75Z" fill="#3f3d56"/><path d="M621.38473,403.125a4.96123,4.96123,0,0,0-1.59918.27228,2.99462,2.99462,0,0,0-5.90082.72772c0,.01495.00372.02881.004.0437a5.14183,5.14183,0,0,0-1.10321.22858,3.01113,3.01113,0,0,0-1.483-1.911,5.017,5.017,0,0,0,2.16407-2.36859,4.02054,4.02054,0,1,0-.08185-7.99268,4.96123,4.96123,0,0,0-1.59918.27228,2.99013,2.99013,0,1,0-5.749,1.62506c-.11956.08319-.23108.17663-.34283.26959a2.83951,2.83951,0,0,0-2.04492-.68066,4.98044,4.98044,0,0,0-9.68311,1.55066,5.11773,5.11773,0,0,0-1.18017.23535,2.9999,2.9999,0,0,0-.17249-.49353,3.75781,3.75781,0,0,0,1.27167-2.77875,4.27213,4.27213,0,0,0-4.5-4,4.96123,4.96123,0,0,0-1.59918.27228,2.99013,2.99013,0,1,0-5.749,1.62506,4.98706,4.98706,0,0,0-2.13726,3.8692c-.0423.0376-.09076.068-.13086.10791a3.56328,3.56328,0,0,0,.11627-.87445,4.27213,4.27213,0,0,0-4.5-4,4.96123,4.96123,0,0,0-1.59918.27228,2.99013,2.99013,0,1,0-5.749,1.62506,4.98694,4.98694,0,0,0,0,8.20532,2.72729,2.72729,0,0,0,0,1.79468,5.04888,5.04888,0,0,0-1.27935,1.29181,2.98133,2.98133,0,0,0-5.84162.50488,4.764,4.764,0,0,0-1.28564-.51941,5.02681,5.02681,0,0,0,1.83661-2.18194,4.02054,4.02054,0,1,0-.08185-7.99268,4.96123,4.96123,0,0,0-1.59918.27228,2.99013,2.99013,0,1,0-5.749,1.62506c-.06414.04462-.12194.09711-.1839.14459-.156-.01453-.30767-.04193-.46795-.04193a4.96123,4.96123,0,0,0-1.59918.27228c-.01892-.07544-.05-.14545-.07447-.21851a2.94689,2.94689,0,0,0-3.06225-3.5675,4.9952,4.9952,0,1,0-7.85071,5.56543,5.17336,5.17336,0,0,0-1.01257.22058,2.973,2.973,0,0,0-4.76184-1.6084,4.67579,4.67579,0,0,0-3.639-1.66388,4.96123,4.96123,0,0,0-1.59918.27228,2.99013,2.99013,0,1,0-5.749,1.62506,4.98907,4.98907,0,0,0-2.15185,4.10266c0,.0155.00445.02972.00458.04517a4.14774,4.14774,0,0,0-2.10376.22711,2.99013,2.99013,0,1,0-5.749,1.62506,4.97953,4.97953,0,0,0,3.93555,8.96979,4.98218,4.98218,0,0,0,9.414,1.27893,31.17007,31.17007,0,0,0,10.80249-.48676,4.9821,4.9821,0,0,0,9.278.33338,4.89172,4.89172,0,0,0,2.09741-.519,4.97708,4.97708,0,0,0,8.90259-.481,4.84375,4.84375,0,0,1,5.41815,3.00732,7.79929,7.79929,0,0,1,5.74383-3.17871,4.87476,4.87476,0,0,0,5.41455-2.06775,4.99772,4.99772,0,0,0,9.42347,3.23914,4.89172,4.89172,0,0,0,2.09741-.519,4.97708,4.97708,0,0,0,8.90259-.481,4.89172,4.89172,0,0,0,2.09741-.519,4.94793,4.94793,0,0,0,7.41247,1.43671,4.97874,4.97874,0,0,0,8.90613,2.06525,4.96583,4.96583,0,0,0,7.584-1.983,4.02054,4.02054,0,1,0-.08185-7.99268Zm-89.37818-2.06384c-.00524.02411-.00891.04883-.01385.07312-.0365-.00135-.07111-.00928-.108-.00928a2.9781,2.9781,0,0,0-.44556.04492c.00812-.018.01953-.03412.02741-.05224A4.9796,4.9796,0,0,0,532.00655,401.06116Zm41.779-1.66388c-.01459-.05823-.03955-.11176-.05744-.16858a5.0243,5.0243,0,0,0,1.73847-2.111,4.68136,4.68136,0,0,0,3.4768-1.57435,3.00916,3.00916,0,0,0-.05865.58167,2.96721,2.96721,0,0,0,.15185.89734,5.01837,5.01837,0,0,0-1.85888,2.437,4.90717,4.90717,0,0,0-3.39215-.062Zm29.95037.37286c-.002-.06128.00562-.12445.00159-.1853a2.98582,2.98582,0,0,0,.38111-.02588,4.95614,4.95614,0,0,0,.95263,1.76471c-.09442.02649-.19378.04242-.2857.07361A3.01575,3.01575,0,0,0,603.73592,399.77014Z" transform="translate(-240.11527 -106.375)" fill="#f9a825"/><path d="M517.958,409.125a10.441,10.441,0,0,0-10.42676,11.002l6.77149,93.11524a10.44058,10.44058,0,0,0,10.42675,9.88281H612.04a10.44058,10.44058,0,0,0,10.42676-9.88281l6.77148-93.11524a10.441,10.441,0,0,0-10.42675-11.002Z" transform="translate(-240.11527 -106.375)" fill="#3f3d56"/><rect x="282.76946" y="302.75" width="6" height="114" fill="#ff6056"/><rect x="299.76946" y="302.75" width="6" height="114" fill="#ff6056"/><rect x="316.76946" y="302.75" width="6" height="114" fill="#ff6056"/><rect x="333.76946" y="302.75" width="6" height="114" fill="#ff6056"/><rect x="350.76946" y="302.75" width="6" height="114" fill="#ff6056"/><rect x="367.76946" y="302.75" width="6" height="114" fill="#ff6056"/><path d="M607.87064,465.632l-19.43662,11.338s-46.97183,38.87324-14.57746,45.35211,40.493-27.53521,40.493-27.53521l11.338-12.95774Z" transform="translate(-240.11527 -106.375)" fill="#ffb8b8"/><path d="M515.5467,457.53345l19.43662,11.338s46.97183,38.87324,14.57746,45.35211-40.493-27.53521-40.493-27.53521l-11.338-12.95775Z" transform="translate(-240.11527 -106.375)" fill="#ffb8b8"/><path d="M633.78614,303.66021l21.05633,1.61972s16.19719,14.57746,14.57747,34.01408c0,0,14.57746,42.11268,11.338,59.92958,0,0,3.23943,29.15493-1.61972,40.493S633.78614,494.787,633.78614,494.787s-37.25352-29.15493-35.63381-30.77465l48.59155-48.59155-24.29577-32.39436Z" transform="translate(-240.11527 -106.375)" fill="#e6e6e6"/><path d="M496.11008,292.32218l-.80986.80986s-36.44366,15.38733-34.82394,34.82395c0,0-14.57747,42.11267-11.338,59.92957,0,0-3.23944,29.15493,1.61972,40.493s45.35211,55.07042,45.35211,55.07042,37.25352-29.15493,35.6338-30.77464l-48.59155-48.59155,24.29578-32.39437Z" transform="translate(-240.11527 -106.375)" fill="#e6e6e6"/></svg>
    </div>
    <div class="col-12 col-lg-5 ml-auto pt-5 pt-lg-0">
      <h1>Bem vindo ao Recomendo </h1>
      <p class="lead">
        Salve recomendações de filmes e seriados, recomende livros para seus amigos e descubra os podcasts que seus amigos mais gostam.
      </p>
      <p class="mt-4 mx-auto">
        <%= link_to "#", class: "btn btn-lg btn-secondary d-none", data: {toggle: "modal", target: "#appleModal"}, id: 'apple-button' do %>
          <i class="fab fa-apple mr-2"></i> Entrar
        <% end %>
        <%= link_to "#", class: "btn btn-lg btn-secondary d-none", data: {toggle: "modal", target: "#appleSafariModal"}, id: 'apple-safari-button' do %>
          <i class="fab fa-safari"></i> Abrir no Safari
        <% end %>
        <%= link_to "#", class: "btn btn-lg btn-secondary d-none", data: {toggle: "modal", target: "#mobileModal"}, id: 'mobile-button' do %>
          <i class="fas fa-mobile mr-2"></i> Entrar
        <% end %>
        <%= link_to "Entrar", new_user_session_path, class: 'btn btn-lg btn-secondary d-none', id: 'login-button' %>
      </p>
    </div>
  </div>

  <div class="row align-items-center py-5">
    <div class="col-12 col-lg-6 mx-auto pt-5 pt-lg-0">
      <svg id="a90b5256-b423-42d1-825d-5fdc0dc55c5f" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 882.95113 612.14792"><path d="M261.42052,674.2439s-112.306-51.70032-72.853-87.55226S261.42052,674.2439,261.42052,674.2439Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M259.46579,686.30766s-51.62-169.60649,24.39238-161.49519S259.46579,686.30766,259.46579,686.30766Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M221.82911,671.26562l2.16658,28.37158.03437.49006a130.3557,130.3557,0,0,0,.67062,13.26586c2.94032,28.939,15.57858,42.12751,30.349,42.12751s26.85843-13.18851,29.79874-42.12751a130.35277,130.35277,0,0,0,.67063-13.26586l.01721-.3955.00856-.09456L287.72,671.26562Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M285.54481,699.6372l-.00856.09456-.01721.3955a130.35277,130.35277,0,0,1-.67063,13.26586H224.70068a130.3557,130.3557,0,0,1-.67062-13.26586l-.03437-.49006Z" transform="translate(-158.52443 -143.92604)" fill="#fff"/><path d="M993.90848,691.59489s-86.94909-40.0272-56.40393-67.78435S993.90848,691.59489,993.90848,691.59489Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M992.3951,700.93485s-39.965-131.312,18.885-125.03214S992.3951,700.93485,992.3951,700.93485Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M963.25619,689.28906l1.67739,21.96573.02661.37942a100.92376,100.92376,0,0,0,.51921,10.27064c2.27644,22.405,12.06118,32.61578,23.49667,32.61578s20.79422-10.21075,23.07066-32.61578a100.92088,100.92088,0,0,0,.51921-10.27064l.01333-.30621.00662-.07321,1.68406-21.96573Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M1012.58589,711.25479l-.00662.07321-.01333.30621a100.92088,100.92088,0,0,1-.51921,10.27064H965.4794a100.92376,100.92376,0,0,1-.51921-10.27064l-.02661-.37942Z" transform="translate(-158.52443 -143.92604)" fill="#fff"/><path d="M451.24048,326.513V287.926h-6v38.587a8,8,0,1,0,6,0Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M465.24048,715.926h-41v-498h-16v498H367.24042A36.99993,36.99993,0,0,0,330.24048,752.926v.00006h172V752.926A36.99994,36.99994,0,0,0,465.24048,715.926Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M330.32349,291.926h171.834L491.64966,160.58571A18.19785,18.19785,0,0,0,473.60377,143.926H358.8772a18.19786,18.19786,0,0,0-18.0459,16.65967Z" transform="translate(-158.52443 -143.92604)" fill="#ff6056"/><path d="M569.57951,522.44575h0a12.36991,12.36991,0,0,0-14.25813,10.33891l-4.83778,31.74861,16.46027,4.36571,12.0607-29.58071A12.3699,12.3699,0,0,0,569.57951,522.44575Z" transform="translate(-158.52443 -143.92604)" fill="#a0616a"/><path d="M569.27177,564.474c9.13486,36.3022,5.20345,69.506-28.81235,95.5764-40.79944-11.24669-67.9348-38.38169-84.491-77.81795a19.68394,19.68394,0,0,1,11.35278-26.09236h0a19.67385,19.67385,0,0,1,21.65853,5.5824l40.03145,46.20366,18.7797-46.589Z" transform="translate(-158.52443 -143.92604)" fill="#ff6056"/><path d="M778.31245,754.93293c-37.2533-1.97882-60.39536-14.77032-66-41l6-11L787.007,734.22711a9.60873,9.60873,0,0,1-.67559,17.76554Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M749.52715,755.19556c-19.35606-.58621-37.97042-.404-55.60848.78963a11.78112,11.78112,0,0,1-12.54729-10.81562l-1.05893-13.23664-15-24,13-13c21.847,21.75885,45.80661,40.03546,74.26312,50.89948A5.13183,5.13183,0,0,1,749.52715,755.19556Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M644.31245,660.93293c-24.71649,44.22607-49.02521,74.04016-81,90-39.33911,12.98389-68.09036-4.21814-90.5-39.5l65-43,9.5,9.5,86.09793-65.51825a10.99335,10.99335,0,0,1,15.46383.34379l73.43824,90.17446-9,15Z" transform="translate(-158.52443 -143.92604)" fill="#2f2e41"/><polygon points="507.788 569.007 473.788 517.007 481.788 502.007 526.788 549.007 507.788 569.007" fill="#2f2e41"/><circle cx="311.78801" cy="369.00689" r="34" fill="#a0616a"/><path d="M479.31245,575.93293l-38-13a47.19464,47.19464,0,0,0,7-30h31C477.54951,548.19068,477.28526,562.66254,479.31245,575.93293Z" transform="translate(-158.52443 -143.92604)" fill="#a0616a"/><path d="M560.31245,666.93293c-5.697,2.339-6.11334,9.92273-11.5,12.5-26.03951,12.45872-53.589,22.56787-72.5,40.5-44.193-30.01013-85.15469-123.2175-32-164,18.1438,10.6171,34.35086,18.2149,34,0Z" transform="translate(-158.52443 -143.92604)" fill="#ff6056"/><path d="M537.31245,626.93293l-18.5-6.5-36.5,28.5-16.362-58.90314c-1.13483-4.08539-2.97351-2.01458-5.61389.82325a19.66444,19.66444,0,0,0-33.0025,13.55651c-1.94635,42.72632,10.93823,78.8736,42.97839,106.52338,41.90735-8.9729,59.69214-37.28638,67-74l-1.981-1.32068Q536.4264,631.35642,537.31245,626.93293Z" transform="translate(-158.52443 -143.92604)" opacity="0.2"/><path d="M474.88749,468.20678c11.21515,2.56229,23.97993,6.19279,24.69571,9.56721,11.53674,2.90712,20.24455,9.87066,22.02258,20.48674a6.35789,6.35789,0,0,1-6.37842,7.37318c-6.274-.08081-15.69249-.68171-21.91184-3.27933-18.0668,11.64106-21.09937,41.91836-13.20939,62.52755l-12.41583-1.13807-12.84495-37.60217L451.56447,562.266l-28.33278-3.74615,3.64939-46.06468a68.6313,68.6313,0,0,1,10.778-30.433,25.91975,25.91975,0,0,1,2.02788-2.62722A36.01052,36.01052,0,0,1,474.88749,468.20678Z" transform="translate(-158.52443 -143.92604)" fill="#2f2e41"/><polygon points="380.285 438.428 411.402 475.011 458.078 419.925 426.54 381.659 380.285 438.428" fill="#3f3d56"/><path d="M608.61263,565.11278,571.6083,534.8365c2.10253-5.046,12.19462-3.364,12.19462-3.364l28.96639,29.36594a15.85058,15.85058,0,0,1,2.57139,3.43337h0Z" transform="translate(-158.52443 -143.92604)" fill="#f2f2f2"/><path d="M610.29465,563.01027,568.24426,530.211l-46.67593,70.64465L565.511,630.50114c4.20506,1.682,8.41008-1.26151,8.41008-1.26151L616.81246,563.641Z" transform="translate(-158.52443 -143.92604)" fill="#3f3d56"/><rect x="586.40568" y="533.8238" width="0.68148" height="33.14262" transform="translate(-361.13634 561.77383) rotate(-54.2997)" fill="#ff6056"/><rect x="551.36802" y="593.57656" width="64.02865" height="0.68152" transform="translate(-392.33984 608.92707) rotate(-56.51868)" fill="#ff6056"/><rect x="546.87827" y="594.04279" width="0.68169" height="35.49187" transform="translate(-428.38446 546.06674) rotate(-53.65594)" fill="#ff6056"/><rect x="518.35232" y="567.50542" width="64.0408" height="0.68129" transform="translate(-388.62773 551.26391) rotate(-55.16206)" fill="#ff6056"/><rect x="595.97033" y="523.89768" width="0.42026" height="45.16385" transform="translate(-368.0795 472.27708) rotate(-47.45516)" fill="#b3b3b3"/><rect x="593.95199" y="523.63114" width="0.42069" height="46.38865" transform="translate(-367.5248 486.42576) rotate(-48.56153)" fill="#b3b3b3"/><rect x="592.44345" y="523.63791" width="0.42073" height="46.99749" transform="translate(-365.61348 508.13161) rotate(-50.18727)" fill="#b3b3b3"/><path d="M555.60592,593.0936h0a12.3699,12.3699,0,0,0-17.31358,3.22913l-17.97987,26.61021,13,11,23.57629-21.55546A12.36992,12.36992,0,0,0,555.60592,593.0936Z" transform="translate(-158.52443 -143.92604)" fill="#a0616a"/><path d="M537.31245,630.93293c-7.30789,36.71362-25.09265,65.0271-67,74-32.04018-27.64977-44.92473-63.797-42.97837-106.52334A19.68394,19.68394,0,0,1,448.7755,579.7023h0a19.67386,19.67386,0,0,1,17.17493,14.32748l16.362,58.90315,36.9373-34.0418Z" transform="translate(-158.52443 -143.92604)" fill="#ff6056"/><polygon points="882.556 612.148 0 612.148 0 609.966 882.951 609.966 882.556 612.148" fill="#3f3d56"/><path d="M619.81245,235.43293a2.002,2.002,0,0,0-2,2v156a2.002,2.002,0,0,0,2,2h130a2.00229,2.00229,0,0,0,2-2v-156a2.00229,2.00229,0,0,0-2-2Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M633.31245,379.93293h103v-129h-103Z" transform="translate(-158.52443 -143.92604)" fill="#fff"/><path d="M836.24528,276.43293a1.19539,1.19539,0,0,0-1.194,1.194V355.2389a1.19539,1.19539,0,0,0,1.194,1.194h93.13433a1.1954,1.1954,0,0,0,1.194-1.194V277.627a1.1954,1.1954,0,0,0-1.194-1.194Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M844.305,285.68666V347.1792h77.01492V285.68666Z" transform="translate(-158.52443 -143.92604)" fill="#fff"/><path d="M702.999,246.43293h-36.373a4.98866,4.98866,0,0,1-4.33008-7.5l18.18652-31.5c.01465-.02588.03027-.05176.04541-.07764a4.94072,4.94072,0,0,1,3.78662-2.39843l.02637-.00245c.15527-.01416.313-.02148.47168-.02148a4.949,4.949,0,0,1,4.33008,2.5l18.18652,31.5a5.00025,5.00025,0,0,1-4.33008,7.5ZM665.622,241.42805a1.02812,1.02812,0,0,0,.13769.50488.983.983,0,0,0,.86622.5h36.373a.98225.98225,0,0,0,.86621-.5,1.02749,1.02749,0,0,0,.1377-.50439.985.985,0,0,0-.1377-.49512l-18.18652-31.50049a1.00032,1.00032,0,0,0-1.73242,0l-18.18653,31.5A.98133.98133,0,0,0,665.622,241.42805Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><circle cx="526.28801" cy="67.50689" r="3" fill="#e6e6e6"/><path d="M892.6725,278.93293H872.95217a2.7047,2.7047,0,0,1-2.34763-4.06626l9.86016-17.07832.02462-.04209a2.67875,2.67875,0,0,1,2.053-1.30036l.0143-.00132c.08418-.00768.16969-.01165.25573-.01165a2.68319,2.68319,0,0,1,2.34763,1.35542l9.86016,17.07832a2.711,2.711,0,0,1-2.34763,4.06626Zm-20.26461-2.71349a.55736.55736,0,0,0,.07465.27373.53294.53294,0,0,0,.46963.27109H892.6725a.53255.53255,0,0,0,.46963-.27109.55707.55707,0,0,0,.07466-.27347.534.534,0,0,0-.07466-.26843L883.282,258.87269a.54234.54234,0,0,0-.93927,0L872.48254,275.951A.532.532,0,0,0,872.40789,276.21944Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><circle cx="724.2879" cy="116.03099" r="1.62651" fill="#e6e6e6"/><path d="M634.49062,330.8139a26.49038,26.49038,0,0,1,15.26208-14.32731,26.1812,26.1812,0,0,1,21.81176,1.35712c7.80387,4.1417,14.0425,10.65305,21.96763,14.61673a56.17868,56.17868,0,0,0,24.78608,5.839,55.4781,55.4781,0,0,0,27.7934-7.2142,1.50112,1.50112,0,0,0-1.51416-2.59042,53.34339,53.34339,0,0,1-50.43027.92525c-7.951-4.169-14.25106-10.90053-22.35074-14.80678a28.87992,28.87992,0,0,0-22.23054-1.24775,29.84552,29.84552,0,0,0-17.98808,16.65087c-.728,1.787,2.1729,2.56474,2.89284.79752Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M632.12039,358.85656a114.2042,114.2042,0,0,1,50.54024.17516c14.76636,3.42442,30.00938,9.585,45.23381,4.99041,6.80178-2.05269,13.03535-6.15841,16.52959-12.4769.935-1.69082-1.65488-3.20586-2.59042-1.51416-6.5792,11.89691-21.99243,13.9042-34.16617,11.95216-8.13433-1.30432-15.97376-3.91967-23.9804-5.79125a116.87741,116.87741,0,0,0-52.36417-.22826c-1.88344.42053-1.08636,3.31347.79752,2.89284Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M631.03928,291.798a118.62787,118.62787,0,0,1,48.04227,1.70916c14.69483,3.6004,29.05874,11.82591,44.597,10.40532,7.1936-.65768,14.31559-3.30335,19.20257-8.80668,1.2781-1.43928-.8362-3.56851-2.12132-2.12132-4.21578,4.74747-10.28784,7.208-16.51871,7.87279-7.18164.76619-14.23808-.72176-21.0736-2.83584-7.56638-2.34012-14.91657-5.3046-22.60926-7.23882a121.4994,121.4994,0,0,0-50.31646-1.87744c-1.89919.3243-1.09393,3.21582.79751,2.89283Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M857.71647,284.67353a52.29994,52.29994,0,0,1,13.72209,25.58689,51.6547,51.6547,0,0,1-11.16774,43.86118c-1.243,1.46343.86917,3.59557,2.12132,2.12132a55.41416,55.41416,0,0,0,12.69854-28.67315,54.6929,54.6929,0,0,0-15.25289-45.01756c-1.3539-1.38082-3.47467.74106-2.12132,2.12132Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><path d="M902.727,278.2718c-9.19406,6.74316-14.34111,17.62729-15.06541,28.88508-.75361,11.7135,3.71362,23.02594,10.90747,32.12048a62.46258,62.46258,0,0,0,14.8484,13.40375c1.62026,1.06015,3.12514-1.53634,1.51415-2.59041-9.18459-6.00953-17.04368-14.54628-21.21739-24.7909a40.11715,40.11715,0,0,1-.08682-30.73794,32.84189,32.84189,0,0,1,10.61376-13.69965c1.54083-1.13008.04586-3.73456-1.51416-2.59041Z" transform="translate(-158.52443 -143.92604)" fill="#e6e6e6"/><circle cx="533.28801" cy="150.50689" r="14" fill="#e6e6e6"/></svg>
    </div>
  </div>
</div>



<footer class="fdb-block footer-large bg-dark fp-active" data-block-type="footers" data-id="6">
  <div class="container">
    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-sm-6 col-md-4">
        <h3><strong>Contato</strong></h3>
        <p>Street Address 52<br>Contact Name</p>
        <p>+44 827 312 5002</p>
        <p><a href="#">suporte@recomendoapp.com</a></p>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0">
        <h3><strong>Get in touch</strong></h3>
        <p>Street Address 100<br>Contact Name</p>
        <p>+13 827 312 5002</p>
        <p><a href="https://www.froala.com">support@recomendoapp.com</a></p>
      </div>

      <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-left">
        <h3><strong>Sobre</strong></h3>
        <p>I’ll never turn to the dark side. You’ve failed, your highness. I am a Jedi, like my father before me.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        © 2020
      </div>
    </div>
  </div>
</footer>

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="mobileModal" tabindex="-1" role="dialog" aria-labelledby="landingPageModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <p class="lead">
            Clique aqui em baixo no botão de <span class="text-dark">Adicionar a tela inicial</span> que irá aparecer no seu celular.
          </p>
          <p class="lead">
            <i class="fas fa-long-arrow-alt-down"></i>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="appleModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <h3>
            Utilizando um iPhone?
          </h3>
          <p class="lead">
            Clique aqui em baixo no ícone de compartilhar <br>
            <%= image_tag "https://img.icons8.com/ios/100/000000/upload.png", size: 30 %> <br>
            e em seguida selecione <span class="text-dark">Adicionar a tela inicial</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="appleSafariModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <h3>
            Utilizando um iPhone?
          </h3>
          <p class="lead">
            Algumas funcionalidades só podem ser acessadas pelo navegador Safari <i class="fab fa-safari"></i>
          </p>
          <p class="lead">
            <button class="btn" id="copyUrl">Clique aqui</button> <br>
            Para copiar o link do site, e nos vemos por lá! 🙂 <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
const isIos = /iphone|ipad|ipod/.test(window.navigator.userAgent.toLowerCase());
const isMobileDevice = /Mobi/i.test(window.navigator.userAgent);
const isInStandaloneMode = (window.navigator.standalone) || (window.matchMedia('(display-mode: standalone)').matches); // https://web.dev/customize-install/

if ( isMobileDevice ) {
  if ( isInStandaloneMode ) {
    document.querySelector('#login-button').classList.toggle('d-none');
  }
  else if ( isIos ) {
    const isSafari = !(/(CriOS|FxiOS|OPiOS|mercury)/i.test(window.navigator.userAgent))
    if ( isSafari ) {
      document.querySelector('#apple-button').classList.toggle('d-none');
    } else {

    }
  } else {
    document.querySelector('#mobile-button').classList.toggle('d-none');
  }
} else {
  document.querySelector('#login-button').classList.toggle('d-none');
}


// Button to trigger PWA on Android
btnInstallApp = document.querySelector('#mobile-button')


// PWA Triggering
let deferredPrompt

window.addEventListener('beforeinstallprompt', e => {
  e.preventDefault()
  deferredPrompt = e
})

btnInstallApp.addEventListener('click', e => {
  deferredPrompt.prompt()
  deferredPrompt.userChoice
  .then(choiceResult => {
    if(choiceResult.outcome === 'accepted') {
      console.log('user accepted A2HS prompt')
    } else {
      console.log('user dismissed A2HS prompt')
    }
    deferredPrompt = null
  })
})

document.getElementById('copyUrl').addEventListener('click', function(){
  var textarea = document.createElement('textarea');
  textarea.textContent = "https://www.recomendoapp.com/";
  document.body.appendChild(textarea);
  var selection = document.getSelection();
  var range = document.createRange();
  range.selectNode(textarea);
  selection.removeAllRanges();
  selection.addRange(range);
  console.log('copy success', document.execCommand('copy'));
  selection.removeAllRanges();
  document.body.removeChild(textarea);
  this.innerText = "Link copiado ✓"
})
</script>
