<div class="my-3 p-3 bg-white border-radius-1 shadow">

<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: post, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, class:"form-control", placeholder:"O que você gostou?", autofocus: true, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :category_id, "Categoria" %>
    <%= f.select :category_id, categories_for_select, { include_blank:"" }, { class:'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :tag_ids, "Tags" %>
    <%= f.text_field :tag_list, value: f.object.tag_list.join(","), data:{role:"tagsinput"} %>
  </div>

  <div class="form-group">
    <%= f.label :url, "Link" %>
    <%= f.text_field :url, class:"form-control", placeholder:"" %>
  </div>

  <div class="form-group">
    <%= f.label :body, "Descrição" %>
    <%= f.text_area :body, class:"form-control", placeholder:"", rows: 5 %>
  </div>

  <div class="text-center">
    <%= f.submit t("helpers.submit.update", model: nil), class: "btn btn-primary"  %>
  </div>

<% end %>

</div>
