<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: post, local: true) do |form| %>
<section class="fdb-block py-0" data-block-type="forms" data-id="10">
  <div class="container py-5 my-5" style="background-image: url(https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//shapes/6.svg);">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7 text-left" style="z-index: 10000;">
        <div class="row">
          <div class="col mt-4 fr-box" role="application" style="z-index: 10000;">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" dir="auto" spellcheck="true">
                <p>
                  <%= form.text_field :title, placeholder: 'Título', class: 'form-control' %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col fr-box" role="application" style="z-index: 10000;">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" dir="auto" spellcheck="true">
                <p>
                  <%= form.text_area :body, placeholder: 'Descrição', class: 'form-control' %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col fr-box" role="application" style="z-index: 10000;">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" dir="auto" spellcheck="true">
                <p>
                  <%= form.submit 'Salvar', class: 'btn btn-primary' %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
