<div class="col my-3">

<div class="card border-left-<%= post.category.try(:name) %> box-shadow h-100 mx-md-2" id="post_<%= post.id %>">

  <div class="card-header">

    <div class="d-flex justify-content-between align-items-center">
      <div class="mr-3">
        <%= link_to user_path(post.user), class: "" do %>
        <%= image_tag post.user.thumbnail, size: 40, class:'rounded-circle' %>
        <% end %>
      </div>
      <div class="w-100">
        <%= link_to post.user.full_name, post.user, class: "h6 text-dark" %><br>
        Recomendou um <u><%= link_to post.category.name, post.category, class: "text-dark" %></u><br>
        <small class="text-muted"><%= localize(post.created_at, format: :long) %></small>
      </div>
      <div class="ml-3">
        <%= link_to post.category, class: "btn btn-primary btn-circle" do %>
        <%= post.category.try(:icon) %>
        <% end %>
      </div>
    </div>
    <div class="text-right">
      <small class="align-top">
        <% post.tags.each do |tag| %>
        <span class="badge badge-pill badge-info py-1"><%= tag.name %></span>
        <% end %>
      </small>
    </div>

  </div>

  <div class="card-body">

    <span class="h5">
      <%= link_to post.title, post, class: "text-dark" %>
    </span>

    <% if post.url.present? %>
      <%= link_to post.url, target:"_blank" do %>
        <br>Acessar link <i class="fas fa-angle-right"></i>
      <% end %>
    <% end %>
    
    <p class="card-text">
      <% if post.body.length > 80 %>
      <%= truncate(post.body, length: 80, separator: /\s/) %>
      <br><small><%= link_to "Ver mais", read_more_post_path(post), class: "text-muted", remote: true %></small>
      <% else %>
      <%= post.body %>
      <% end %>

    </p>

  </div>

  <div class="card-footer bg-transparent d-flex justify-content-between">

    <div>
      <% if post.user == current_user %>
      <%= link_to "Editar", edit_post_path(post), class: "btn btn-sm btn-outline-secondary rounded-pill" %>
      <% end %>
    </div>
    <div>
      <span class="like">
        <%= render "posts/like_button", post: post %>
      </span>
      <a class="p-3" href="#"><i class="far fa-comment"></i></a>
      <a class="p-3" href="#"><i class="far fa-bookmark"></i></a>
    </div>

  </div>

</div>

</div>
