<%= render 'shared/filters' %>

<div class="filters my-2">
<% if @filtered_category %>
<%= link_to posts_path(request.query_parameters.except(:category_id)), class: "btn btn-primary rounded-pill" do %>
<i class="fas fa-times mr-2"></i>
<%= @filtered_category.plural_name_with_icon %>
<% end %>
<% end %>

<% if @filtered_tags %>
<% @filtered_tags.each do |tag| %>
<%= link_to posts_path(request.query_parameters.except(:tags)), class: "btn btn-info rounded-pill mx-1" do %>
<i class="fas fa-times mr-2"></i>
<%= tag %>
<% end %>
<% end %>
<% end %>
</div>



<% if @posts.empty? %>
<div class="text-center">
  <div class="my-5 p-5 bg-white rounded shadow-sm text-center d-inline-block" data-toggle="modal" data-target="#new-post-modal">
    <h4>Recomende algo! ☝️</h4>
  </div>
</div>
<% end %>

<div class="row row-cols-1 row-cols-md-2 my-3">
  <%= render partial: "post", collection: @posts %>
</div>
