<% post = @post %>

<div class="p-3 bg-white border-radius-1 shadow" id="post_<%= post.id %>">
  <div class="text-center h3">
    <small><%= post.category.name_with_icon %></small>
  </div>
</div>

<div class="my-3 p-3 bg-white border-radius-1 shadow" id="post_<%= post.id %>">

  <div class="d-flex justify-content-between align-items-center">
    <div class="mr-3">
      <%= link_to user_path(post.user), class: "" do %>
      <%= image_tag post.user.thumbnail, size: 40, class:'rounded-circle' %>
      <% end %>
    </div>
    <div class="w-100">
      <%= link_to post.user.full_name, post.user, class: "h6 text-dark" %><br>
      <small class="text-muted"><%= localize(post.created_at, format: :long) %></small>
    </div>
  </div>

    <hr>
    <p>
      <% post.tags.each do |tag| %>
        <span class="badge badge-pill badge-info font-poppins"><%= tag.name %></span>
      <% end %>
    </p>
    <h5>
    <%= link_to post.title, post, class: "text-dark", remote: true %>
    </h5>

  <% if post.url.present? %>
    <%= link_to post.url, target:"_blank" do %>
    Acessar link <i class="fas fa-angle-right"></i>
    <% end %>
  <% end %>

  <p>
    <%= simple_format post.body %>
  </p>

  <hr>
  <div class="d-flex justify-content-between">
    <span class="like">
      <%= render "posts/like_button", post: post %>
    </span>
    <span>
      <% if post.user == current_user %>
      <%= link_to "Editar", edit_post_path(post), class: "btn btn-sm btn-outline-secondary rounded-pill" %>
      <% end %>
    </span>
  </div>
</div>
