<style>
/* [contenteditable]:read-write:focus {
outline: none;
}
input:focus
{
outline:0px !important;
-webkit-appearance:none;
box-shadow: none !important;
} */
.border-top- {
  border-top: solid .3125rem #efefef;;
}
</style>

<section class="fdb-block py-0" data-block-type="contents" data-id="43" draggable="true">
  <div class="container py-5 my-5 bg-r" style="background-image: url(https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//shapes/9.svg);">
    <div class="row text-left py-5">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="fdb-box border-top-<%= @post.category.try(:name) %>">
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">
            <%= @post.category.try(:name) || "Sem categoria" %>
          </button>
          <%= link_to "Editar", edit_post_path(@post), class:'float-right' %>
          <h1 contenteditable="true" id='editable_title'><%= @post.title %></h1>
          <p class="lead" contenteditable="true" id='editable_body'>
            <%= @post.body %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecione a categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <% Category.all.each do |category| %>
        <div class="col-md-3">
          <%= link_to category.name_with_icon, "#" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
document.getElementById('editable_title').addEventListener('input', titleHandler)
document.getElementById('editable_body').addEventListener('input', bodyHandler)
function titleHandler() { document.getElementById('post_title').value = this.innerText }
function bodyHandler() { document.getElementById('post_body').value = this.innerText }
</script>
