<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recomendo</title>

    <!-- Lighthouse Details -->
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#C50001"/>

    <!-- Meta Description should be page specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Recomendo App">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Apple specific PWA -->
    <%= favicon_link_tag 'icon_192.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">

    <!-- Icons -->
    <%= favicon_link_tag "favicon-16x16.png", sizes:"16x16" %>
    <%= favicon_link_tag "favicon-32x32.png", sizes:"32x32" %>
    <%= favicon_link_tag "favicon-96x96.png", sizes:"96x96" %>
    <%= favicon_link_tag "favicon-128x128.png", sizes:"128x128" %>
    <%= favicon_link_tag "favicon-196x196.png", sizes:"196x196" %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/froala/design-blocks@master/dist/css/froala_blocks.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/header' %>
    <%= render 'shared/notice' if notice %>
    <%= yield %>

    <%= render 'shared/footer' %>

    <script src="https://kit.fontawesome.com/c0fadf581c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

  </body>
  <script>
  document.addEventListener('turbolinks:load', function(){
    // FontAwesome.dom.i2svg();
    $('.selectpicker').selectpicker();
  })
  </script>
</html>
