<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recomendo</title>

  <!-- Lighthouse Details -->
  <link rel="manifest" href="/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000"/>

  <!-- Meta Description should be page specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Recomendo App">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Apple specific PWA -->
  <%= render "shared/apple_meta" %>

  <!-- Icons -->
  <%= favicon_link_tag "favicon-16x16.png", sizes:"16x16" %>
  <%= favicon_link_tag "favicon-32x32.png", sizes:"32x32" %>
  <%= favicon_link_tag "favicon-96x96.png", sizes:"96x96" %>
  <%= favicon_link_tag "favicon-128x128.png", sizes:"128x128" %>
  <%= favicon_link_tag "favicon-196x196.png", sizes:"196x196" %>

  <!-- Compiled Stylesheets and JS -->
  <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Webpacker -->
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!-- Webpacker -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- Custom assets/stylesheets -->

  <link rel="stylesheet" async href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
  <%= render 'shared/header' %>

  <div class="container-fluid">
    <div class="row my-3">
      
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
        <%= render 'shared/add_to_home' %>
      </div>
      <div class="col-md-2">
      </div>
    </div>

  </div>

  <%= render 'shared/modal' %>

  <%= render 'shared/footer' %>
</body>
</html>
